<form method="post" action="/recipes">
  <label for="name">Recipe Name name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="descr">Description:</label><br>
  <input type="text" id="descr" name="descr"><br>
  <label for="rating">Rating:</label><br>
  <input type="text" id="rating" name="rating"><br>
  <label for="preptime">Prep Time:</label><br>
  <input type="text" id="preptime" name="preptime"><br>

  <input type="submit" value="Submit">  
</form>